<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 3 days"
</IfModule>

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
</IfModule>

<IfModule mod_headers.c>
    Header append Vary User-Agent env=!dont-vary
    Header unset ETag
</IfModule>

FileETag None

RewriteEngine On

RewriteCond	%{REQUEST_FILENAME}	-d 	[OR]
RewriteCond	%{REQUEST_FILENAME} -f
RewriteRule	^(.*)$			-	[L]

RewriteRule	^resize(.*) _images.php?__path=$1 [QSA,L]

RewriteRule ^api/1/(.*)$ api/index.php?endpoint=$1 [L,QSA]

RewriteRule ^(.*)$ index.php [L,QSA]